* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li a:is(:link, :active, :visited) {
  color: black;
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 0.6rem 0.9rem;
}

a:is(:link, :active, :visited).active {
  background-color: #8eceb2;
  border-radius: 5px;
  text-align: center;
  padding: 0.6rem 0.9rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 1000;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: white;
  z-index: 1000;
}
.img-logo {
  height: 75px;
  width: 90px;
}
.nav-link {
  transition: 0.7s ease;
  font-family: "Familjen Grotesk", Helvetica;
}
.nav-link:hover {
  background-color: #8eceb2;
  border-radius: 5px;
  text-align: center;
  padding: 0.6rem 0.9rem;
}
.my-button {
  display: none;
}
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.main-height {
  margin-top: 20%;
}

/* home page css */

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* color: black; font-size: 34px; margin-left: 660px; margin-top: 150px; padding:20px; 
                height:80px;
                " */
.typing-text {
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-size: 22px;
  margin-left: 660px;
  margin-top: 150px;
  animation: typing 3s steps(50) infinite alternate-reverse;
}

.overlap {
  position: absolute;
  /* width: 1864px; */
  /* height: 1311px; */
  top: -300px;
  left: 40px;
}
.overlap-group {
  position: absolute;
  width: 1864px;
  height: 1311px;
  top: 0;
  left: 0;
  z-index: -1000;
}
.ellipse {
  position: absolute;
  width: 1300px;
  height: 1100px;
  top: -50px;
  left: 593px;
  background-color: #8eceb2;
  border-radius: 50%;
}
.nav-2 {
  margin-top: 20px;
  position: absolute;
  width: 1308px;
  height: 45px;
  top: 400px;
  left: 0;
}

.donate-now {
  position: absolute;
  width: 225px;
  height: 223px;
  top: 850px;
  left: 590px;
}

.overlap-3 {
  position: relative;
  width: 223px;
  margin-top: -180px;
  margin-left: -40px;
  height: 223px;
  background-color: #14500f;
  border-radius: 111.5px;
}

.text-wrapper-7 {
  position: absolute;
  width: 181px;
  top: 69px;
  left: 21px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 4.48px;
  line-height: normal;
}

.meclass {
  margin-top: 50px;
}

#me {
  margin-left: 140px;
  margin-top: -100px;
  width: 180px;
  font-family: "Familjen Grotesk", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  justify-content: center;
  height: 180px;
}

.desktop .nisarg-logo {
  width: 200;
  background-image: url(./assets/nisarg-ngo-logo-1-4.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
}

/* home page css ended */

@media (max-width: 768px) {
  img {
    margin: auto;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    z-index: 1000;
  }

  /* top content */
  .overlap-group {
    display: none;
  }
  .nav-2 {
    display: flex;
    justify-content: center;
  }
  .nisarg-logo {
    display: none;
  }
}
